
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autopopup</title>
    <!-- main css file -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>
<body>
<div id="main">
    <div id="pop-up">
        <button id='close-btn'>X</button>
        <h1>This is title.</h1>
        <p>ftfythgjvhgnhgvhgvnhvbvgsdssdhhjmbncgf vtrfjjiujijjbhv ytfgdhhhjh  yfgfhhuhuh cvchggjhh cgfctgjhjb gcgvbnmnmb gtc  yhjn  fctygnh </p>
        <h3> this is footer</h3>
    </div>


</div>
<!-- main website -->
<div class="container">
    <p>bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
    bjhbjsdcbsbcmc cxmcbcsbjugcdcgc   bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
    bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
    bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
    bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
    bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
    bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
    bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
    bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
    bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
    bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
    bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
    bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
    bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
    bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
    bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
    bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
    bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
    bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
    bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
    bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
    bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
    bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
    bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsdbgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
        bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
        bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
        bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
        bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
        bgjhasjdhksadjidhbdhasbjdsjsbdjbsadnbshajhdajb b jhcdhsiljs  bjhiuhkdsa  bjhdskhks  csnbjhckuj mn cnbjchjkchkdnkbdcjbcjhbdjcbsjdckdjnkjcdnc  jbjsd
    </p>
</div>


<!-- jquery cdn -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- main js file -->
<script src=" {% static 'js/scripts.js' %}"></script>


</body>
</html>